= f.text_field :name, class: 'form-control'
= f.text_field :email, class: 'form-control'
= f.text_field :display_username, class: 'form-control'
= f.password_field :password, class: 'form-control'
= f.submit class: 'btn btn-success btn-lg btn-block'
