$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

// Margins

// Margin vertical
.u-mv-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.u-mv-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}
