.form-wrapper {
  border: 1px solid $gray-lighter;
  margin: 30px 0;
  padding: 30px;
}

.form-group {

  .field_with_errors {
    margin-bottom: 10px;

    input[type="text"],
    input[type="password"] {
      border-color: $brand-danger;
      color: $brand-danger;
    }
  }

  .error-message {
    color: $brand-danger;
  }
}

.social-signup {

  &__link:not(:last-child) {
    margin-bottom: 20px;
  }
}
