.centered-page {
  @include horiztonal-center;

  margin-top: 100px;
  min-width: 320px;
  max-width: 480px;
}

.centered-content {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-30%, -50%);
  transform-style: preserve-3d;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;

  /* reset the text-align */
  text-align: left;

  /* inline-block space fix */
  margin-right: -4px;
}

.col-min {
  max-width: 320px;
}
