.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;

  /* reset the text-align */
  text-align:left;

  /* inline-block space fix */
  margin-right:-4px;
}

.col-min {
  max-width: 320px;
}
